body, html {
  padding: 0;
  margin: 0;
  height: 100vh;
}

canvas {
  display: block;
  padding: 0;
  margin: 0;
}

.titles {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
}

h1 {
  font-size: 1em;
  font-family: 'Indie Flower', cursive;
  letter-spacing: 2px;
  pointer-events: none;
  font-weight: 400;
  border: 0px;
  margin: 0px;
  text-align: center;
  color: #595959;
}
.cartoon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  width:200px;
  height:auto;
}
a {
  text-decoration: none;
  color: orange;
}

p {
  font-family: 'Indie Flower', cursive;
  font-size: 1em;
  text-align: center;
  color: black;
}

.bullets {
  color: black;
}

.social {
  color: black;
}